@font-face {
    font-family: "iconfont"; /* Project id 2864589 */
    src: url('iconfont.woff2?t=1634192206452') format('woff2'),
         url('iconfont.woff?t=1634192206452') format('woff'),
         url('iconfont.ttf?t=1634192206452') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-box-empty:before {
    content: "\e677";
  }
  
  .icon-yuqiedian1:before {
    content: "\e640";
  }
  
  